doctype
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 소켓~
  body
    h1 만나서 반갑소
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('http://localhost:8005', {
        path:'/socket.io'
      })

      socket.on('news', function(data){
        console.log(data);
        socket.emit('message', 'message /1받아라 서버야!!');
        socket.emit('reply', 'reply / 2받아라 서버야!!');
      })

      socket.on('reply', )